package ${packageName};

import com.skunkworks.fastorm.Dao;

import javax.sql.DataSource;
import java.sql.CallableStatement;
import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Types;
import java.util.ArrayList;
import java.util.List;

#foreach($import in $additionalImports)
import ${import};
#end

public class ${className} implements Dao<${entityName}, Long>, ${interfaceName} {

    private final DataSource dataSource;

    public ${className}(DataSource dataSource) {
        this.dataSource = dataSource;
    }

    @Override
    public ${entityName} save(${entityName} entity) {
        return null;
    }

    @Override
    public List<${entityName}> save(Iterable<${entityName}> entities) {
        return null;
    }

    @Override
    public ${entityName} findOne(Long id) {
        try(Connection connection = dataSource.getConnection()) {
            PreparedStatement preparedStatement = connection.prepareStatement("select ${selectColumns} from ${entityName}");
            preparedStatement.setLong(0, id);
            ResultSet resultSet = preparedStatement.executeQuery();
            if (resultSet.next()) {
                return mapToRow(resultSet);
            } else
                return null;
        } catch (SQLException e) {
            throw new RuntimeException(e);
        }
    }

    @Override
    public boolean exists(Long id) {
        return false;
    }

    @Override
    public List<${entityName}> findAll() {
        try(Connection connection = dataSource.getConnection()) {
            CallableStatement callableStatement = connection.prepareCall("select ${selectColumns} from ${entityName}");
            ResultSet resultSet = callableStatement.executeQuery();
            List<${entityName}> items = new ArrayList<>();
            while (resultSet.next()) {
                items.add(mapToRow(resultSet));
            }
            return items;
        } catch (SQLException e) {
            throw new RuntimeException(e);
        }
    }

    @Override
    public List<${entityName}> findAll(Iterable<Long> ids) {
        return null;
    }

    @Override
    public long count() {
        return 0;
    }

    @Override
    public void delete(Long id) {

    }

    @Override
    public void delete(${entityName} entity) {

    }

    @Override
    public void delete(Iterable<${entityName}> entities) {

    }

    @Override
    public void deleteAll() {
        try(Connection connection = dataSource.getConnection()) {
            CallableStatement callableStatement = connection.prepareCall("delete from ${entityName}");
            callableStatement.executeUpdate();
        } catch (SQLException e) {
            throw new RuntimeException(e);
        }
    }

    //${selectColumns}
    public static ${entityName} mapToRow(ResultSet resultSet) throws SQLException {
        ${entityName} item = new ${entityName}();
        #foreach($field in $fields)
        item.${field.setter}(resultSet.get${field.recordsetType}(${field.index}));
        #end
        return item;
    }

    #foreach($method in $unrecognizedMethods)

    @Override
    public ${method.returnType} ${method.name}(${method.parameters}) {
        throw new UnsupportedOperationException("${method.name}");
    }
    #end

}